body{
    font-family: Roboto, Arial;
    margin: 0;
    box-sizing: border-box;    
}
header{
    background-color: hsl(216, 29%, 17%);        
    color: white;
    margin: 0;       
}
/* TOP HEADER ELEMENTS */
#top-header{    
    margin-left: 15%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#top-header h3{
    font-size: 28px;
    color: hsl(90, 17%, 98%);
}
#top-header-links{    
    margin-right: 15%;
    display: flex;    
}
a{
    margin-right: 20px;
}
a:link {
    text-decoration: none;
}
a:visited {
    color: white;
}

/* BOT HEADER ELEMENTS */

#bot-header{
    margin: 0 15% 0 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 80px;
}
#bot-header-text{
    width: 500px;
    margin-right: 30px;
}
#bot-header h1{
    font-size: 48px;
    font-weight: bolder;
    color: hsl(90, 17%, 98%);
}
#bot-header p{
    font-size: 18px;
    color: hsl(220, 13%, 91%);
}
#bot-header button{
    background-color: hsl(217, 91%, 59%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 30px;
    cursor: pointer;    
    font-size: 18px;
    font-weight: bold;
}
#bot-header img{
    width: 450px;
    height: 250px;      
}

/* MAIN TOP */

#main-top-h2{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
}
#main-top-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 200px;
}
.main-top-img{
    width: 130px;
    height: 130px;
    margin-left: 40px;
    border: 3px solid hsl(217, 91%, 59%);
    border-radius: 10px;
    color: hsla(215, 28%, 17%, 0.6);
}
.main-top-img img{
    width: 130px;
    height: 130px; 
}
.main-top-img p{
    margin-top: 5px;
}

/* MAIN BOT */
#main-bot{
    background-color: #E5E7EB;    
}
#main-bot-quote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    margin: 0 20% 0 20%;
    padding-top: 100px;    
}
#main-bot-quoted{
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    margin-right: 20%;
    padding-bottom: 100px;
}


/* FOOTER TOP */

#footer-top{
    background-color: hsl(217, 91%, 59%);    
    width: 70%;
    margin: auto;
    color: white;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    margin: 100px auto 100px auto;  
}

#footer-top-p1{
    text-align: left;
    font-size: 24px;
    margin: 0 0 0 8%;    
}
#footer-top-text{
    text-align: left;
    color: hsla(220, 13%, 91%);  
    margin: 0 0 0 8%;       
}
#footer-top-button button{
    color: white;
    background-color: hsl(217, 91%, 59%);
    border: 2px solid white;
    border-radius: 8px;
    padding: 8px 30px;
    font-weight: bold;
    font-size: 18px;
}
#footer-top-button{
    margin-right: 8%;
}

/* FOOTER BOT */

#footer-bot{
    text-align: center;
    background-color: hsl(216, 29%, 17%);
    color: #E5E7EB;
    padding: 20px;
}